<!doctype html>
<html lang="en">
  <head  id="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мой склад</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand ms-3" href="{{ url_for('home') }}">Мой склад</a>
        <a class="navbar-nav nav-link ms-3" href="{{ url_for('products') }}">Товары</a>
        <a class="navbar-nav me-auto nav-link ms-3" href="{{ url_for('orders') }}">Заказы</a>
      </nav>
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}  flashes" role="alert">
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <footer>
          <div class="container my-5 pt-4 border-top fixed-bottom">
              <a target="_blank" href="https://www.ozon.ru/">Мой склад</a>
          </div>
      </footer>
  </body>
</html>