{% extends 'base.html' %}

{% block content %}

<div class="container col-9 mt-3 mb-1">
    <h1 class="display">Товар: {{ product['name'] }}</h1>
    <table class="table table-hover table-bordered">
        <tr>
            <th>ID</th>
            <th>{{ product.id }}</th>
        </tr>
        <tr>
            <th>Название</th>
            <th>{{ product.name }}</th>
        </tr>
        <tr>
            <th>Описание</th>
            <th>{{ product.description }}</th>
        </tr>
        <tr>
            <th>Цена, руб</th>
            <th>{{ product.price }}</th>
        </tr>
        <tr>
            <th>Остаток на складе</th>
            <th>{{ product.stock }}</th>
        </tr>
    </table>
    <h2 class="display">Изменить данные о товаре</h2>
    <form action="{{ url_for('update_product', id=product.id) }}">
        <input class="btn btn-primary btn-sm fs-6 mt-2 mb-1"
               type="submit" value="Обновить информацию о товаре">
    </form>
    <form action="{{ url_for('delete_product', id=product.id) }}">
        <input class="btn btn-primary btn-sm fs-6 mt-2 mb-1"
               type="submit" value="Удалить товар">
    </form>
</div>
{% endblock %}
